name: Say Hello
on:
  workflow_dispatch:
    inputs:
      whoToGreet:
        description: "Who to greet"
        required: true
        default: "World"
        type: string
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: guswl98/js-action@v1.1
        with:
          who-to-greet: ${{inputs.whoToGreet}}
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
      - name: Get current date
        id: date
        run: echo "${new Date().getTime()}"
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
